<!DOCTYPE html>
<html>
  <head>
    <title>Pokerplayers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Players en Establos</h1>
    <h2>Mira a todos los jugadores ganando <strong> pipas </strong></h2>
    <%= yield %>
  </body>
</html>
